doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/highlightjs_themes/github.min.css')
        script(type='text/javascript', src='/js/highlight.min.js')
    body
        block content
        script(type='text/javascript', src='/js/bundle.js')
